@font-face {
    font-family: 'eight';
    src: url('../font/Pieces\ of\ Eight.ttf');
}

@font-face {
    font-family: 'raleway';
    src: url('../font/Raleway-VariableFont_wght.ttf');
}

:root {
    --menuWidth: 15vw
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'eight';
    font-size: 4em;
    margin-bottom: 20px;
}

body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #303030;
    color: white;
    font-family: Impact;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

header{
    background-color: black;
    width: var(--menuWidth);
    height: 100vh;
    text-align: center;
    justify-content: space-around;
    transform: scale(1);
}

header img {
    width: 90%;
}

header a {
    display: list-item;
    padding: 10px 0;
}

header a:link, header a:visited {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.contact {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.contact p, .contact a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin: 10px;
    padding: 0;
}

main {
    width: calc(100vw - var(--menuWidth));
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.home {
    height: 100vh;
    background: url(../images/guitare.jpg) center 0 no-repeat fixed;
    background-size: cover;
    display: flex;
    padding: 0;
}

.home .title {
    font-family: 'eight';
    font-size: 10em !important;
}

.home .catch {
    font-family: 'eight';
    font-size: 3.5em;
}

.label p {
    width: 60%;
    font-family: 'raleway';
}

.artists {
    background: url(../images/concert.jpg) center 0 no-repeat fixed;
    background-size: cover;
}

.artists .content {
    width: 75%;
}

.tile {
    width: 15vw;
    height: 15vw;
    transform: scale(1);
    display: inline-block;
    margin: 30px;
}

.artists .imgBox, .artists .desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    transition-duration: 0.3s;
}

.imgBox {
    z-index: 10;
}

.tile img {
    max-height: 200%;
    max-height: 200%;
    filter: grayscale(100%);
}

.desc {
    z-index: 11;
    opacity: 0;
}

.desc h2 {
    font-size: 40px;
    font-family: 'eight';
    margin-bottom: 10px;
}

.desc p {
    font-size: 17px;
    padding: 10px;
}

.artists .tile:hover > .desc:hover {
    opacity: 1;
    background-color: rgb(0,0,0,0.7);
}

.live .content {
    width: 90%;
}

.liveBox {
    width: 15vw;
    height: 15vw;
    display: inline-block;
    margin: 10px;
}

.liveBox .imgBox {
    width: 80%;
    height: 80%;
    overflow: hidden;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liveBox img {
    max-height: 200%;
    max-height: 200%;
    filter: grayscale(100%);
}

#contact .content {
    width: 80%;
}

.form-contact {
    width: 60%;
    display: block;
    margin: auto;
    border: 1px solid #fff;
    padding: 40px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
}

.title-contact {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.field {
    width: 100%;
    margin-bottom: 20px;
}

.field label {
    width: 100%;
    margin-bottom: 8px;
    display: block;
}

.field input[type="text"] {
    height: 30px;
}

.field-input {
    width: 90%;
    margin: auto;
    padding: 5px;
}

.field-text {
    height: 150px;
    resize: none;
}

.input-submit {
    border: none;
    background-color: #43b77a;
    color: #fff;
    padding: 10px 35px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: black;
}

footer img {
    width: 100px;
    margin: 20px;
}

footer a {
    margin: 20px;
}

footer a:link, footer a:visited {
    color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}