body{
    background-color: #303030;
    color: white;
    font-family: Impact;
}

.menu{
    background-color: black;
    width: 25%;
    height: 100vh;
    text-align: center;
    position: fixed;
    justify-content: space-around;
}

.nav-link{
    color: white;
}

.nav-link:hover {
    color: #303030;
}

.nav-item{
    font-size: 20px;
}
.content{
    margin-left: 25%;
}

.colOne, .colTwo{
    text-align: center;
}

.imgOne{
    width: 450px;
    height: 300px;
    background-image: url("../images/guitare.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.imgTwo{
    width: 450px;
    height: 300px;
    background-image: url("../images/ghost.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.rowOne, .rowTwo{
    display: flex;
    height: 50%;
}

.colOne, .colTwo{
    text-align: center;
    width: 50%;
    margin: 2.5%;
}

#descrOne, #descrTwo{
    margin-top: 15%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

@media screen and (max-width: 1270px) {
    .rowOne, .rowTwo{
        flex-direction: column;
        height: auto;
    }
    .colOne, .colTwo{
        width: 100%;
    }

    #descrOne, #descrTwo{
        margin-top: 0%;
    }
}

.contact {
    padding-bottom: 100px;
    padding-top: 50px;
}

.block-contact {
    width: 60%;
    display: block;
    margin: auto;
    border: 1px solid #fff;
    padding: 40px;
}

.title-contact {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.form-contact {
    width: 90%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
}

.field {
    width: 100%;
    margin-bottom: 20px;
}

.field label {
    width: 100%;
}

.field-input {
    width: 100%;
}

.field-text {
    height: 150px;
    resize: none;
}

.input-submit {
    border: none;
    background-color: #43b77a;
    color: #fff;
    padding: 10px 35px;
    cursor: pointer;
}

.firstDivOfOurArtist {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.imgArtists {
    width: 450px;
    height: 300px;
    margin: auto;
}

.imgFlip {
    width: 50%;
    perspective: 1000px;
}

.divImgFlip {
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: block;
    width: 100%;
}

.imgFlip:hover .divImgFlip {
    transform: rotateY(180deg);
}

.imgFront, .imgBack {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-left: 18.5%;
}

.imgFront {
    background-color: #bbb;
    color: black;
}

.imgBack {
    color: white;
    transform: rotateY(180deg);
    top: 70px;
    left: 40px;
    position: absolute;
}

.our_artists, .our_label, .contact_us {
    text-align: center;
    text-decoration: underline;
    margin: 50px 0px;
}

.colorSubmit {
    background-color: #808080;
}

.colorOn {
    color: #8b1111;
}

.our_artists {
    margin-top: 25vh;
}

.our_label, .contactMarginTop {
    margin-top: 10vh;
}